@mixin parallax($image){
	background: url(images/intro.png) 50% 0 fixed; 
	height: auto;  
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	padding: 100px 0;
}

#intro { 
	@include parallax('images/intro.png')
}

#home { 
	@include parallax('images/home.jpg')
}
		
#about { 
	@include parallax('images/about.png') 
}
